bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
release
Release
RELEASE
packages

*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.*~
_Re*
\.DS_Store
*.userprefs
*.pdb
*.zip
test-results/*
*.dotCover
*.nupkg
test-results

*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
